__pycache__
flask_session
venv/
default_settings/*
default_settings
settings_/*
settings_
app/static/uploads/keystore
app/static/uploads/keystore/*
logs/*
logs
data/*
data
proxy.txt
run.cmd
run.ps1 
heroku_deploy.ps1
.vscode 
docker_build_prod.ps1
*__pycache__*
docker-compose.yaml