    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <ul id="portfolio-filters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
		  {% for type in options.serviceType %}
          <li data-filter=".filter-{{ type.name| lower }}"> {{ type.name|upper}}{{type.name[1:] }}</li>
		  {% endfor %}
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
		
		  {% for service in options.services %}


			  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
				<div class="portfolio-img"><img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-1.jpg')}}" class="img-fluid" alt=""></div>
				<div class="portfolio-info">
				  <h4>{{ service.name }}</h4>
				  <p>{{ service.service_type.name|upper}}{{service.service_type.name[1:] }}</p>
				  <a href="{{ url_for('static', filename='{{ service.image}}')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ service.name }}"><i class="bx bx-plus"></i></a>
				  <a href="{{ service.page.href }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
				</div>
              </div>
		  
		  {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->
	